<a href="https://colab.research.google.com/github/KauaHenSilva/python_predict_car_price/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recuperar arquivos

In [46]:
import os
tipo_de_recuperacao = "Ambos" #@param ["Download", "Drive", "Ambos"]
def repostirio_para_download():
  if os.path.exists('python_download_file_drive'):
    !cd python_download_file_drive && git pull
  else:
    !git clone https://github.com/KauaHenSilva/python_download_file_drive
  %pip install --upgrade --quiet -r python_download_file_drive/requirements.txt

## Recuperação por download

In [47]:
if tipo_de_recuperacao in ["Download", "Ambos"]:
  from google.colab import auth
  from googleapiclient.discovery import build
  auth.authenticate_user()
  repostirio_para_download()
  !python "python_download_file_drive/main.py" "https://drive.google.com/drive/folders/1CK8Fv-v7RaIWmd_y77OMxo2YXu5CDdox?usp=drive_link" arquivos

Already up to date.
Baixando arquivos: 100% 1/1 [00:00<00:00, 23431.87arquivo/s]

## Recuperação por drive

In [48]:
# @markdown #### Caso escolheu o tipo de recuperação drive/ambos e não tenha os arquivos, faça um atalho desse drive:
# @markdown > https://drive.google.com/drive/folders/183Mj7Uk4jLSbP46-UISygf3gmdp8Y-Pt?usp=drive_link
path_atalho_drive = "/content/drive/MyDrive/Projetos Do GitHub/tmp_name" #@param {type:"string"}

In [49]:
if tipo_de_recuperacao in ["Drive", "Ambos"]:
  from google.colab import drive
  drive.mount('/content/drive')
  if not os.path.exists(path_atalho_drive):
    raise Exception("O caminho especificado não existe no drive.")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Referenciar arquivo no drive ou download

In [50]:
def get_referencia_valida(path):
    path_download = os.path.join("/content/arquivos", path)
    path_drive = os.path.join(path_atalho_drive, path)

    bool_download = os.path.exists(path_download)
    bool_drive = os.path.exists(path_drive)

    if not bool_download and not bool_drive:
        raise Exception(f"Arquivo não encontrado em nenhum dos caminhos (Download ou Drive). Caminhos: {path_download}, {path_drive}")

    if not bool_drive and bool_download:
        print("[INFO] Arquivo encontrado no download, mas não no drive.")
        return path_download

    if bool_drive and not bool_download:
        print("[INFO] Arquivo encontrado no drive, mas não no download.")
        return path_drive

    return path_download

# carros

In [51]:
!pip install tensorflow==2.16.1 scikeras==0.13.0  scikit-learn==1.5.0 --quiet

In [52]:
import pandas as pd
import tensorflow as tf
import sklearn

In [53]:
pd.__version__, tf.__version__, sklearn.__version__

('2.2.2', '2.16.1', '1.5.0')

In [54]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [55]:
path_data = get_referencia_valida('autos.csv')
data = pd.read_csv(path_data, encoding='ISO-8859-1')
data

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [56]:
data = data.drop('dateCrawled', axis=1)
data = data.drop('dateCreated', axis=1)
data = data.drop('nrOfPictures', axis=1)
data = data.drop('postalCode', axis=1)
data = data.drop('lastSeen', axis=1)
data

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [57]:
data['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [58]:
data = data.drop('name', axis=1)

In [59]:
data['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [60]:
data = data.drop('seller', axis=1)

In [61]:
data['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [62]:
data = data.drop('offerType', axis=1)

In [63]:
data

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [64]:
data.loc[data['price'] <= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [65]:
data = data[data['price'] > 10]
data

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [66]:
data.loc[data['price'] > 350000]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

In [67]:
data = data.loc[data['price'] < 350000]
data

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [68]:
data.loc[pd.isnull(data['vehicleType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [69]:
data['vehicleType'].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [70]:
data['vehicleType'].mode()

0    limousine
Name: vehicleType, dtype: object

In [71]:
data.loc[pd.isnull(data['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [72]:
data['gearbox'].mode()

0    manuell
Name: gearbox, dtype: object

In [73]:
data.loc[pd.isnull(data['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [74]:
data['model'].mode()

0    golf
Name: model, dtype: object

In [75]:
data.loc[pd.isnull(data['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [76]:
data['fuelType'].mode()

0    benzin
Name: fuelType, dtype: object

In [77]:
data.loc[pd.isnull(data['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [78]:
data['notRepairedDamage'].mode()

0    nein
Name: notRepairedDamage, dtype: object

In [79]:
valores = {'vehicleType': 'limousine',
           'gearbox': 'manuell',
           'model': 'golf',
           'fuelType': 'benzin',
           'notRepairedDamage': 'nein'
    }

In [80]:
data = data.fillna(value = valores)

In [81]:
data

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,limousine,2005,manuell,0,golf,20000,1,benzin,sonstige_autos,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [82]:
data.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [83]:
data.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [84]:
x = data.iloc[:, 1:12].values
x

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [85]:
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [0,1,3,5,8,9,10])], remainder='passthrough')
x = onehotencoder.fit_transform(x).toarray()
x, x.shape

(array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
        [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
        [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
        ...,
        [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
        [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
        [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]]),
 (359291, 316))

In [86]:
y = data.iloc[:, 0].values
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990])

In [87]:
regressor = Sequential([
    tf.keras.layers.InputLayer(shape=(316,)),
    tf.keras.layers.Dense(units=158, activation='relu'),
    tf.keras.layers.Dense(units=158, activation='relu'),
    tf.keras.layers.Dense(units=1, activation='linear'),
])

In [88]:
regressor.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 158)                 │          50,086 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 158)                 │          25,122 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │             159 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [89]:
regressor.compile(loss = 'mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [90]:
regressor.fit(x, y, 300, 100)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 4288.3389 - mean_absolute_error: 4288.3389
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 3454.2104 - mean_absolute_error: 3454.2104
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 3063.8086 - mean_absolute_error: 3063.8086
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2876.7356 - mean_absolute_error: 2876.7358
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2802.8525 - mean_absolute_error: 2802.8525
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2722.8042 - mean_absolute_error: 2722.8042
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - loss: 2701.4929 - mean_absolute_error: 2701.4929
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - loss: 2674.0359 - mean_absolute_error: 2674.0359
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2643.5640 - mean_absolute_error: 2643.5640
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2591.6577 - mean_absolute_error: 2591.6577
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2553.1807 - mean_absolute_error: 2553.1807
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2535.2603 - mean_absolute_error: 2535.2603
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2513.3838 - mean_absolute_error: 2513.3838
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2485.9641 - mean_absolute_error: 2485.9641
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - loss: 2448.7651 - mean_absolute_error: 2448.7651
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2460.3730 - mean_absolute_error: 2460.3733
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2456.2888 - mean_absolute_error: 2456.2888
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2435.0425 - mean_absolute_error: 2435.0422
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - loss: 2423.4851 - mean_absolute_error: 2423.4851
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2407.1511 - mean_absolute_error: 2407.1511
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2423.5874 - mean_absolute_error: 2423.5874
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2472.1541 - mean_absolute_error: 2472.1541
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2398.3647 - mean_absolute_error: 2398.3647
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2391.5334 - mean_absolute_error: 2391.5334
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2392.9314 - mean_absolute_error: 2392.9314
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2387.5103 - mean_absolute_error: 2387.5103
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2398.7190 - mean_absolute_error: 2398.7190
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2388.2185 - mean_absolute_error: 2388.2185
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2356.9717 - mean_absolute_error: 2356.9717
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2378.8513 - mean_absolute_error: 2378.8513
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2370.6875 - mean_absolute_error: 2370.6877
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2350.6694 - mean_absolute_error: 2350.6694
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2347.9697 - mean_absolute_error: 2347.9697
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2343.9536 - mean_absolute_error: 2343.9536
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2346.6865 - mean_absolute_error: 2346.6865
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2367.6064 - mean_absolute_error: 2367.6064
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2348.2041 - mean_absolute_error: 2348.2041
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2332.4001 - mean_absolute_error: 2332.4001
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2353.7466 - mean_absolute_error: 2353.7466
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2340.2368 - mean_absolute_error: 2340.2368
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2315.6985 - mean_absolute_error: 2315.6985
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2338.7004 - mean_absolute_error: 2338.7004
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2346.5566 - mean_absolute_error: 2346.5566
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2322.0068 - mean_absolute_error: 2322.0068
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2337.4197 - mean_absolute_error: 2337.4199
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2319.0400 - mean_absolute_error: 2319.0400
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2349.5332 - mean_absolute_error: 2349.5332
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2326.6204 - mean_absolute_error: 2326.6204
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2323.1963 - mean_absolute_error: 2323.1963
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2348.4243 - mean_absolute_error: 2348.4243
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2330.1328 - mean_absolute_error: 2330.1328
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2318.9663 - mean_absolute_error: 2318.9663
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2309.5249 - mean_absolute_error: 2309.5247
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2318.5803 - mean_absolute_error: 2318.5803
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2325.4712 - mean_absolute_error: 2325.4712
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2311.3320 - mean_absolute_error: 2311.3320
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2308.6851 - mean_absolute_error: 2308.6851
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2300.2791 - mean_absolute_error: 2300.2791
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2301.3882 - mean_absolute_error: 2301.3882
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2305.7549 - mean_absolute_error: 2305.7549
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2277.9734 - mean_absolute_error: 2277.9734
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2295.4648 - mean_absolute_error: 2295.4648
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2308.3091 - mean_absolute_error: 2308.3091
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2306.7537 - mean_absolute_error: 2306.7537
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2287.8567 - mean_absolute_error: 2287.8567
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2290.7234 - mean_absolute_error: 2290.7234
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2287.5537 - mean_absolute_error: 2287.5537
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2271.7134 - mean_absolute_error: 2271.7131
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2284.9563 - mean_absolute_error: 2284.9563
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2257.9199 - mean_absolute_error: 2257.9197
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2286.2847 - mean_absolute_error: 2286.2847
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2291.1294 - mean_absolute_error: 2291.1294
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2258.7163 - mean_absolute_error: 2258.7163
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2271.5630 - mean_absolute_error: 2271.5630
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2274.7354 - mean_absolute_error: 2274.7354
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2262.4915 - mean_absolute_error: 2262.4915
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2285.4177 - mean_absolute_error: 2285.4177
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2266.1575 - mean_absolute_error: 2266.1575
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2274.7961 - mean_absolute_error: 2274.7961
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2264.1592 - mean_absolute_error: 2264.1592
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2264.2200 - mean_absolute_error: 2264.2200
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2279.8989 - mean_absolute_error: 2279.8989
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2258.0730 - mean_absolute_error: 2258.0730
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2263.2256 - mean_absolute_error: 2263.2256
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2256.5471 - mean_absolute_error: 2256.5471
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2246.3672 - mean_absolute_error: 2246.3672
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2270.9583 - mean_absolute_error: 2270.9583
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2254.1509 - mean_absolute_error: 2254.1511
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2252.9751 - mean_absolute_error: 2252.9751
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2255.3999 - mean_absolute_error: 2255.3999
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2239.4880 - mean_absolute_error: 2239.4880
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2271.6001 - mean_absolute_error: 2271.6001
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2254.9922 - mean_absolute_error: 2254.9922
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2249.1697 - mean_absolute_error: 2249.1697
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2250.7532 - mean_absolute_error: 2250.7532
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2256.2859 - mean_absolute_error: 2256.2859
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2225.5935 - mean_absolute_error: 2225.5935
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2251.1890 - mean_absolute_error: 2251.1890
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2242.3132 - mean_absolute_error: 2242.3132
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2232.6951 - mean_absolute_error: 2232.6951

In [91]:
previsao = regressor.predict(x)

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 16s 1ms/step

In [93]:
previsao, y

(array([[ 1592.8082],
        [11884.794 ],
        [14085.048 ],
        ...,
        [ 6458.197 ],
        [ 3529.155 ],
        [28336.033 ]], dtype=float32),
 array([  480, 18300,  9800, ...,  9200,  3400, 28990]))

In [95]:
previsao.mean(), y.mean()

(5839.9087, 5916.833945186492)